version: 2.1

commands:
  ngrok_install:
    steps:
      # TODO: do something we can trust
      - run: 
          name: Install ngrok
          command: |
            curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | \
            sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null && \
            echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | \
            sudo tee /etc/apt/sources.list.d/ngrok.list && \
            sudo apt update && sudo apt install ngrok

jobs:
  controller:
    docker:
      - image: cimg/python:3.9.2

    steps:
      - checkout
      - ngrok_install
      - run:
          name: Start controller
          command: |
            python -m http.server 8080 &
            sleep 5
            ngrok http --subdomain=${CIRCLE_WORKFLOW_ID} 8080


  agent:
    parallelism: 2
    docker:
      - image: cimg/python:3.9.2

    steps:
      - checkout
      - ngrok_install
      - run:
          name: Start agent
          command: |
            sleep 30
	          curl --verbose --max-time 5 https://${CIRCLE_WORKFLOW_ID}.ngrok.io/

workflows:
  version: 2
  do_networking:
    jobs:
      - controller
      - agent
