version: 2.1

jobs:
  network:
    parallelism: 3
    docker:
      - image: cimg/python:3.9.2

    working_directory: ~/repo

    steps:
      - checkout

      # TODO: do something we can trust
      - run:
          name: install dependencies
          command: |
            curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | \
            sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null && \
            echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | \
            sudo tee /etc/apt/sources.list.d/ngrok.list && \
            sudo apt update && sudo apt install ngrok

      - run:
          name: spin up server
          command: |
            ./network.sh

workflows:
  version: 2
  do_networking:
    jobs:
      - network
